---
import '../../styles/tarjetavisita.css';


---

<section class="principal">
    <img src="/Imagenes/Imagen_local_oficial.png" alt="Tienda Limpio" class="imagen_local" />
    <div class="cuadro">
        <h2>BIENVENIDOS</h2>
        <h1>TIENDAS ECOLOGICAS<br />LIMPIO</h1>
        <button>ABRIR CATÁLOGO</button>
    </div>
</section>